.menu-item-img{
    height: 25px;
    width: 25px;
}

.menu-item-text{
    margin-left: 20px;
    vertical-align: super;
}

.card-ios{
    margin: 20px 40px 20px 35px;
    width: calc(100% - 80px);
}

.card-md{
    margin: 20px 40px 20px 35px;
    width: calc(100% - 80px);
}

ion-app.ios [padding] .scroll-content{
    padding: 0;
}


// DETAILS PAGE //
.details-text{
    padding: 0 12px 0 12px;
}